In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
print ("Libraries sucessfully loaded")

Libraries sucessfully loaded

In [2]:
filename = "data_experimentos.csv"
headers = ["exp_id", "ano", "mes"]

In [3]:
df = pd.read_csv(filename, names = headers)

In [4]:
df.head()

   exp_id   ano  mes
0  exp_id   ano  mes
1       2  2020   08
2    1368  2020   08
3    1130  2020   08
4     402  2020   08